.whole{
  border: 1px solid #dadde1;
  border-radius: 7px;
  padding: 17px ;
background: radial-gradient(944px at 6.9% 46.3%, rgb(254, 192, 193) 0%, rgb(254, 192, 193) 0%, rgb(0, 67, 105) 100.2%);
}
.myCity{
  color: rgb(220, 214, 224);
  font-size: 27px;
  font-weight: 200;
  line-height: 28px;
}
li{
  color: #dadde1;
  font-size: 24px;
  font-weight: 100;
  line-height:28px;
  list-style: none;
  margin: 0;
  padding: 0;

}
ul{
  margin: 0;
  padding: 0;
}
form {
  position: static;
  color: cornflowerblue;
  margin-bottom: 15px;
}
.day{
  font-size: 20px;
  font-weight: 300;
}
.temp{
  color:#2262b4;
  font-size:60px;
  line-height: 64px;
  font-weight: 400;
}
.condition{
   text-transform: capitalize;
  color: #2262b4;
}
label {
  border: groove;
  background: rgb(18, 18, 199);
  color: purple;
}
button {
  color: #2262b4;
  
}
button:hover {
  color: salmon;
}
.unique {
  color: black;
}
.img{
  margin-right: 7px;
  height: 64px;
  width: 57px;
  margin-top: -7px;
}
#degrees{
  position: relative;
  font-size: 17px;
  top:-32px;
}
.weather-wrapper{
max-width: 700px;
   margin: 30px auto;
}
#fah-temp { 
  color:black;
  cursor:default;
  text-decoration: none;
}
#fah-temp:hover{
  text-decoration: none;
}
#temp-change{
  color: black;
  cursor: default;
  text-decoration: none;
}
#temp-change:hover{
  text-decoration: none;
}
.the-forecast{
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
}
.min{
  opacity: 0.7;
}