.whole{
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  background-size: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}
.myCity{
  color: blueviolet;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
li{
  color: plum;
  font-size: 24px;
  font-weight: 100;
  line-height:28px;
  list-style: none;
  margin: 0;
  padding: 0;

}
ul{
  margin: 0;
  padding: 0;
}
form {
  position: static;
  color: cornflowerblue;
  margin-bottom: 15px;
}
.col-sm {
  margin-top: 50px;
  font-size: 25px;
  color: black;
}
.col-sm-8 {
  margin-top: 50px;
  font-size: 30px;
  color: black;
}
.col-sm-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.day{
  font-size: 27px;
}
.temp{
  color:#2262b4;
  font-size:60px;
  line-height: 64px;
  font-weight: 400;
}
.condition{
  color: #2262b4;
}
label {
  border: groove;
  background: rgb(18, 18, 199);
  color: purple;
}
button {
  color: #2262b4;
  
}
button:hover {
  color: salmon;
}
.unique {
  color: black;
}
.img{
  margin-right: 7px;
  height: 64px;
  width: 57px;
  margin-top: -7px;
 
}
#degrees{
  position: relative;
  font-size: 17px;
  top:-32px;
  text-transform: capitalize;
}
.git{
  text-align:center;
  bottom: 4px;
}
#fah-temp { 
  color:black;
  cursor:default;
  text-decoration: none;
}
#fah-temp:hover{
  text-decoration: none;
}
#temp-change{
  color: black;
  cursor: default;
  text-decoration: none;
}
#temp-change:hover{
  text-decoration: none;
}